.tm-img{
    width:1500px ;
    height:800px ;}
.background{
background-color: rgb(99, 238, 108);}
.tx-color{
    color: rgb(250, 250, 0);
}
.tx-color2{
    color: blue;
}
.img{
    width:500px ;
    height: 400px;
}
.borda{
    border-radius: max(49%);
}
.font{
    font-size: 28px;
}

#menu li{
    display: inline;
    padding: 30px;
}
#menu a:hover{
    text-decoration: none;
    color: rgb(7, 211, 247);
    transform: translateY(-15px);
}
#menu a li:hover{
color: rgb(255, 106, 0);

}
 .flex-container{
display: flex;
justify-content: center;
 }
 .tm-social{
    width: 50px;
    height: 50px;
    padding: 30px;}
 
    footer div a:hover{
        transform: translateY(-15px);
    }
    .H-container
      {background-color: rgb(195, 246, 12);
height: 50px;}
 
.text-center{
    text-align: center;
  }

  .form-container{
    display: flex;
    flex-direction: column;
    width: 50%;}
     
    .mapa{
        display: block;
        justify-content: end;
        align-items: flex-end;

    }
        
    .redes-sociais{
        display: inline-block;
        float: left;
        list-style: none;
        justify-content: flex-end;

    }